html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

:root {
    --grey-dark: #363434;
    --grey: #adadad;
    --grey-light: #f7f7f7;
    --orange: #f05a28;
    --orange-light: #f7bfa3;
    --white: #fff;
 }
header{
    display: flex;
    align-items: center;
    padding: 2rem 5rem;
    border-bottom: var(--grey);
    background-color: var(--grey-light);
    justify-content: space-between;
}
.logo-two{
    display: block;
}
.nav-box{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
list-style: none;
position: relative;
}
.nav-items{
    display: flex;
    padding: 0 2rem;
}
.nav-links{
    display: inline-block;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: var(--grey);
}





.main-store{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1.5fr;
    
}
.karma-form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    gap: 25px;
    background-color: aqua;
    margin: 0;
}
.karma-form h1{
    color:var(--orange);
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-fill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    gap: 25px;
    align-items: stretch;
}
.form-items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;

}

.display-image{
    background-image: url('/level-2/store-image_by-andrew-neel-unsplash.jpg');
    background-position: center;

    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 2rem;

}